@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Runes';
	src: url('../public/fonts/VIKING-MIDDLE-Runes-Bold.eot');
	src: url('../public/fonts/VIKING-MIDDLE-Runes-Bold.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/VIKING-MIDDLE-Runes-Bold.woff2') format('woff2'),
		url('../public/fonts/VIKING-MIDDLE-Runes-Bold.woff') format('woff'),
		url('../public/fonts/VIKING-MIDDLE-Runes-Bold.ttf') format('truetype'),
		url('../public/fonts/VIKING-MIDDLE-Runes-Bold.svg#VIKING,-MIDDLE-Runes-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Nordic';
    src: url('../public/fonts/NordicAlternative.eot');
    src: url('../public/fonts/NordicAlternative.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/NordicAlternative.woff2') format('woff2'),
        url('../public/fonts/NordicAlternative.woff') format('woff'),
        url('../public/fonts/NordicAlternative.ttf') format('truetype'),
        url('../public/fonts/NordicAlternative.svg#NordicAlternative') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
	scroll-behavior: smooth;
	scroll-margin-top: 91px;
}

html {
	background-color: #F4F7FB;
}
html.dark {
	background: rgb(19,38,75);
}

body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#__next {
	width: 100%;
	height: 100%
}

::placeholder {
	color: #C5C6C7 !important;
}
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: #C5C6C7 !important;
}

.whitePlaceholder {
	caret-color: #FFFFFF !important;
}
.whitePlaceholder::placeholder {
	color: #FFFFFF !important;
	opacity: 0.5;
}
.whitePlaceholder:-ms-input-placeholder,
.whitePlaceholder::-ms-input-placeholder {
	color: #FFFFFF !important;
	opacity: 0.5;
}
summary::-webkit-details-marker {
	display: none
}
summary {
	list-style: none;
}

details,
details summary {
	background: #F2F2F2;
}
.dark details,
.dark details summary {
	background: rgb(24,48,95);
}


details summary:hover {
	background: #E0E0E0;
}
details[open],
details[open] summary {
	background: #E0E0E0;
}


.dark details summary:hover,
.dark details[open],
.dark details[open] summary {
	background: rgb(24,48,95);
}

/******************************************************************************
**	TAILWIND CSS ++
******************************************************************************/
.flex-center {
  @apply justify-center items-center;
}
.box {
  @apply rounded-sm bg-light-0 dark:bg-dark-400;
}
.box-with-border {
  @apply rounded-sm bg-light-0 dark:bg-dark-400 border border-gray-100 border-opacity-40 dark:border-dark-400;
}
.box-darker-with-border {
  @apply rounded-sm bg-light-0 dark:bg-dark-600 border border-gray-100 border-opacity-40 dark:border-dark-900;
}
.box-darker {
  @apply rounded-sm bg-light-600 dark:bg-dark-600;
}

.button-core {
  @apply
    select-none
    font-bold
    rounded-sm
    px-4
    py-2
    text-sm
    tracking-wide
    text-center
    transition-colors;
}
.button-highlight {
  @apply
    button-core
    bg-light-primary
    hover:bg-light-primary-darker
    dark:bg-dark-primary
    dark:hover:bg-dark-primary-darker
    text-white
    dark:text-black
    cursor-pointer
  ;
}
.button-highlight:disabled {
  @apply
    button-core
    cursor-not-allowed
    bg-light-600
    dark:bg-dark-600
    text-gray-200
    dark:text-dark-200
  ;
}
.button-highlight-outline {
  @apply
    button-core
    bg-transparent
    hover:bg-light-primary-lighter
    border-light-primary
    dark:bg-transparent
    dark:hover:bg-dark-primary-lighter
    dark:border-dark-primary
    text-light-primary
    dark:text-dark-primary
    border
    cursor-pointer
  ;
}
.button-highlight-with-arrow {
  @apply
    select-none
    rounded-l-sm
    rounded-r-none
    px-4
    py-2
    pl-3
    pr-4
    text-sm
    tracking-wide
    text-center
    transition-colors
    bg-light-primary
    hover:bg-light-primary-darker
    dark:bg-dark-primary
    dark:hover:bg-dark-primary-darker
    text-white
    dark:text-black
    cursor-pointer
  ;
}
.button-outline {
  @apply
  button-core
  cursor-pointer
  bg-light-400
  dark:bg-dark-400
  text-gray-200
  dark:text-dark-200
  hover:text-black
  hover:dark:text-white
}

.button-outline-arrow {
  @apply
    select-none
    rounded-r-sm
    rounded-l-none
    p-2
    text-sm
    tracking-wide
    text-center
    bg-transparent
    transition-colors
    hover:bg-light-primary-lighter
    border-light-primary
    dark:bg-transparent
    dark:hover:bg-dark-primary-lighter
    dark:border-dark-primary
    text-light-primary
    dark:text-dark-primary
    border
    border-l-0
    cursor-pointer
  ;
}
.button-fake {
  @apply
    select-none
    rounded-sm
    px-4
    py-2
    text-sm
    tracking-wide
    text-center
    bg-light-background
    dark:bg-dark-500
    text-black
    dark:text-white
  ;
}
.button-regular {
  @apply
    select-none
    rounded-sm
    p-4
    text-sm
    tracking-wide
    text-center
    font-bold
    cursor-pointer
    transition-colors
    bg-light-background
    hover:bg-light-primary-lighter
    dark:bg-dark-600
    dark:hover:bg-dark-900
    text-black
    dark:text-white
  ;
}
.image-wrapper > span {
	vertical-align: middle;
}
.text-start {
  text-align: start;
  text-align: left;
}
.text-plain {
  @apply text-black dark:text-white;
}
.text-plain-60 {
  @apply text-black/60 dark:text-white/60;
}
.text-plain-20 {
  @apply text-black/20 dark:text-white/20;
}
.hover-text-plain {
  @apply hover:text-black dark:hover:text-white;
}
.hover-text-plain-60 {
  @apply hover:text-black/60 dark:hover:text-white/60;
}
.text-400 {
  @apply text-light-400 dark:text-dark-400;
}
.text-200 {
  @apply text-light-200 dark:text-dark-200;
}
.bg-600 {
  @apply bg-light-600 dark:bg-dark-600;
}
.bg-500 {
  @apply bg-light-background dark:bg-dark-500
}
.bg-900 {
  @apply bg-light-0 dark:bg-dark-900;
}
.hover-bg-900 {
  @apply hover:bg-light-300 dark:hover:bg-dark-900;
}
.border-plain {
  @apply border-black dark:border-white;
}
.border-highlight {
  @apply border-light-primary dark:border-dark-primary;
}
.text-highlight {
  @apply text-light-primary dark:text-dark-primary;
}
.group-hover-text-highlight {
  @apply group-hover:text-light-primary dark:group-hover:text-dark-primary;
}
.bg-highlight {
  @apply bg-light-primary dark:bg-dark-primary;
}

.transition-all {
	transition-duration: 150ms;
}
.animation-delay-500 {
	animation-delay: 1000ms !important;
}

*, ::before, ::after {
    --tw-ring-color: transparent !important;
}

.dashed-underline-white {
	border-bottom: 1px dashed transparent;
}
.dashed-underline-white:hover {
	border-bottom: 1px dashed #FFFFFF;
}

.dashed-underline-gray {
	border-bottom: 1px dashed transparent;
}
.dashed-underline-gray:hover {
	border-bottom: 1px dashed #2c3e50;
}
.progress-bar { 
	display: inline-block;
	white-space: pre-wrap;
}
.progress-body {
	background-color: #f0f0f0;
	color: black;
}

.item {
	min-width: 64px;
	min-height: 64px;
}
.h-min {
	height: min-content;
}

/* NES EDITS */

.nes-progress, .nes-progress.is-rounded {
  border-style: solid;
  border-width: 4px;
}
progress {
	vertical-align: baseline;
}
.nes-progress {
	width: 100%;
	height: 36px;
	margin: 2px;
	color: #212529;
	-webkit-appearance: none;
	-moz-appearance: none;
		appearance: none;
}

.progressbar::-webkit-progress-bar,
.nes-progress::-webkit-progress-bar {
	background-color: #fff;
}

.progressbar::-webkit-progress-value,
.nes-progress::-webkit-progress-value {
	background-color: #212529;
}

.progressbar::-moz-progress-bar,
.nes-progress::-moz-progress-bar {
background-color: #212529;
}

.progressbar::-ms-fill,
.nes-progress::-ms-fill {
	background-color: #212529;
	border: none;
}

.progressbar.is-primary::-webkit-progress-bar,
.nes-progress.is-primary::-webkit-progress-bar {
	background-color: #fff;
}

.progressbar.is-primary::-webkit-progress-value,
.nes-progress.is-primary::-webkit-progress-value {
	background-color: #209cee;
}

.progressbar.is-primary::-moz-progress-bar,
.nes-progress.is-primary::-moz-progress-bar {
	background-color: #209cee;
}

.progressbar.is-primary::-ms-fill,
.nes-progress.is-primary::-ms-fill {
	background-color: #209cee;
	border: none;
}

.progressbar.is-success::-webkit-progress-bar,
.nes-progress.is-success::-webkit-progress-bar {
	background-color: #fff;
}

.progressbar.is-success::-webkit-progress-value,
.nes-progress.is-success::-webkit-progress-value {
	background-color: #92cc41;
	transition : width 0.350s ease;
}

.progressbar.is-success::-moz-progress-bar,
.nes-progress.is-success::-moz-progress-bar {
	background-color: #92cc41;
	transition : width 0.350s ease;
}

.progressbar.is-success::-ms-fill,
.nes-progress.is-success::-ms-fill {
	background-color: #92cc41;
	border: none;
	transition : width 0.350s ease;
}

.progressbar.is-warning::-webkit-progress-bar,
.nes-progress.is-warning::-webkit-progress-bar {
	background-color: #fff;
}

.progressbar.is-warning::-webkit-progress-value,
.nes-progress.is-warning::-webkit-progress-value {
background-color: #f7d51d;
}

.progressbar.is-warning::-moz-progress-bar,
.nes-progress.is-warning::-moz-progress-bar {
background-color: #f7d51d;
}

.progressbar.is-warning::-ms-fill,
.nes-progress.is-warning::-ms-fill {
background-color: #f7d51d;
border: none;
}

.progressbar.is-error::-webkit-progress-bar,
.nes-progress.is-error::-webkit-progress-bar {
background-color: #fff;
}

.progressbar.is-error::-webkit-progress-value,
.nes-progress.is-error::-webkit-progress-value {
	transition : width 0.350s ease;
	background-color: #e76e55;
}

.progressbar.is-error::-moz-progress-bar,
.nes-progress.is-error::-moz-progress-bar {
	transition : width 0.350s ease;
	background-color: #e76e55;
}

.progressbar.is-error::-ms-fill,
.nes-progress.is-error::-ms-fill {
	transition : width 0.350s ease;
	background-color: #e76e55;
	border: none;
}

.tooltip {
	position: relative;
}
  
.tooltip .tooltiptext {
	position: absolute;
	left: -16px;
	top: calc(100% + 8px);
	z-index: 100000;
}
.tooltip .tooltiptext.center {
	position: absolute;
	top: calc(100% + 8px);
	left: -18%;
	z-index: 100000;
	width: 320px;
}

.noBr {
	border-radius: 0 !important;
}


#nprogress {
	pointer-events: none;
}
#nprogress .bar {
	background: #FBBF24;

	position: fixed;
	z-index: 10310000;
	top: 0;
	left: 0;

	width: 100%;
	height: 3px;
}
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #FBBF24, 0 0 5px #FBBF24;
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}
#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: #FBBF24;
	border-left-color: #FBBF24;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

  
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.goUp0 {
	opacity: 0;
	animation: goUpAnimation0 2s, fadeOut 2s;
}

@keyframes goUpAnimation0 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(0px, -400px);
	}
}

.goUp1 {
	opacity: 0;
	animation: goUpAnimation1 2s, fadeOut 2s;
}

@keyframes goUpAnimation1 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(0px, -300px);
	}
}

.goUp2 {
	opacity: 0;
	animation: goUpAnimation2 2s, fadeOut 2s;
}

@keyframes goUpAnimation2 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(0px, -200px);
	}
}

.leftRight0 {
	animation: leftRightAnimation0 0.3s alternate infinite ease-in-out;
}

@keyframes leftRightAnimation0 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(50px, 0px);
	}
}

.leftRight1 {
	animation: leftRightAnimation1 0.3s alternate infinite ease-in-out;
}

@keyframes leftRightAnimation1 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(100px, 0px);
	}
}

.leftRight2 {
	animation: leftRightAnimation2 0.3s alternate infinite ease-in-out;
}

@keyframes leftRightAnimation2 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(-50px, 0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}