@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply justify-center items-center;
}
.box {
  @apply rounded-sm bg-light-0 dark:bg-dark-400;
}
.box-with-border {
  @apply rounded-sm bg-light-0 dark:bg-dark-400 border border-gray-100 border-opacity-40 dark:border-dark-400;
}
.box-darker {
  @apply rounded-sm bg-light-600 dark:bg-dark-600;
}

.button-core {
  @apply
    select-none
    font-bold
    rounded-sm
    px-4
    py-2
    text-sm
    tracking-wide
    text-center
    transition-colors;
}
.button-highlight {
  @apply
    button-core
    bg-light-primary
    hover:bg-light-primary-darker
    dark:bg-dark-primary
    dark:hover:bg-dark-primary-darker
    text-white
    dark:text-black
    cursor-pointer
  ;
}
.button-highlight:disabled {
  @apply
    button-core
    cursor-not-allowed
    bg-light-600
    dark:bg-dark-600
    text-gray-200
    dark:text-dark-200
  ;
}
.button-highlight-outline {
  @apply
    button-core
    bg-transparent
    hover:bg-light-primary-lighter
    border-light-primary
    dark:bg-transparent
    dark:hover:bg-dark-primary-lighter
    dark:border-dark-primary
    text-light-primary
    dark:text-dark-primary
    border
    cursor-pointer
  ;
}
.button-highlight-with-arrow {
  @apply
    select-none
    rounded-l-sm
    rounded-r-none
    px-4
    py-2
    pl-3
    pr-4
    text-sm
    tracking-wide
    text-center
    transition-colors
    bg-light-primary
    hover:bg-light-primary-darker
    dark:bg-dark-primary
    dark:hover:bg-dark-primary-darker
    text-white
    dark:text-black
    cursor-pointer
  ;
}
.button-outline-arrow {
  @apply
    select-none
    rounded-r-sm
    rounded-l-none
    p-2
    text-sm
    tracking-wide
    text-center
    bg-transparent
    transition-colors
    hover:bg-light-primary-lighter
    border-light-primary
    dark:bg-transparent
    dark:hover:bg-dark-primary-lighter
    dark:border-dark-primary
    text-light-primary
    dark:text-dark-primary
    border
    border-l-0
    cursor-pointer
  ;
}
.button-fake {
  @apply
    select-none
    rounded-sm
    px-4
    py-2
    text-sm
    tracking-wide
    text-center
    bg-light-background
    dark:bg-dark-500
    text-black
    dark:text-white
  ;
}
.button-regular {
  @apply
    select-none
    rounded-sm
    p-4
    text-sm
    tracking-wide
    text-center
    font-bold
    cursor-pointer
    transition-colors
    bg-light-background
    hover:bg-light-primary-lighter
    dark:bg-dark-600
    dark:hover:bg-dark-900
    text-black
    dark:text-white
  ;
}

.text-start {
  text-align: start;
  text-align: left;
}
.text-plain {
  @apply text-black dark:text-white;
}
.hover-text-plain {
  @apply hover:text-black dark:hover:text-white;
}
.text-400 {
  @apply text-light-400 dark:text-dark-400;
}
.text-200 {
  @apply text-light-200 dark:text-dark-200;
}
.text-50 {
  @apply text-black dark:text-white text-opacity-60 dark:text-opacity-60;
}
.bg-600 {
  @apply bg-light-600 dark:bg-dark-600;
}
.bg-900 {
  @apply bg-light-0 dark:bg-dark-900;
}
.hover-bg-900 {
  @apply hover:bg-light-300 dark:hover:bg-dark-900;
}
.border-highlight {
  @apply border-light-primary dark:border-dark-primary;
}
.text-highlight {
  @apply text-light-primary dark:text-dark-primary;
}
.bg-highlight {
  @apply bg-light-primary dark:bg-dark-primary;
}
